body{
  margin: 0 auto;
}

#root{
  width: 96%;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
}

header{
  text-align: center;
}

section{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 5em 0em;
}

.Welcome{
  text-align: center;
}

.Forecast{
  display: grid;
  grid-template-columns: 1fr;
}

.modal-container{
  position: fixed;
  z-index: 100;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}

.modal{
  margin: auto;
  width: 80vw;
  height: auto;
  min-height: 256px;
  background: gray;
  text-align: center;
}

label, input{
  display: block;
  width: 100%;
  margin: 0.5rem auto;
}

input{
  height: 2.5rem;
  border-radius: .5rem;
  padding: 0 .5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid lightgray;
}

.form{
  padding: 0 1rem;
}

.container{
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "a a"
    "b b"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

a.card{
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  background: none;
  padding: 1rem .5rem;
  border: 1px solid lightgray;
}

a.large{
  width: 100%;
  grid-area: a;
  display: none;
}

a.card:hover{
  border: 1px solid blue;
}

.insight{
  display: block;
  font-size: 3rem;
  font-weight: 700;
}

/* Text */
a{
  color: blue;
  text-decoration: none;
}
a:visited{
  color: ;
}

/* Light/Dark Mode */
@media (prefers-color-scheme: dark) {
  a{color: lightblue;}
  body  { background:  #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body   { background: white; color:  #555; }
}

/* Responsive */
@media screen and (min-width: 768px) {
  .Forecast{
    grid-template-columns: 1fr 2fr;
  }
}